body {
    position: relative; 
    background-color: #fff;
  }
  #portfoliocontent {padding-top:50px;height:500px;color: #fff; }
  #aboutme {padding-top:50px;height:500px;color: #fff; }
  #contactme {padding-top:50px;height:500px;color: #fff; }